@(formulario: Form[Projeto], clientes: List[Cliente])

@import helper._

@import b3.vertical.fieldConstructor;

<Form id = "form_Projeto" action = "@routes.ProjetoController.salvaNovoProjeto" method = "POST"
    onsubmit = "submitForm(); return false;">

    @b3.text(
        formulario("nome"),
        'id -> "novovalor",
        '_label -> "Nome",
        'placeholder -> "Emissor de nota fiscal eletrônica..."
    )

    @b3.textarea(
        formulario("descricao"),
        '_label -> "Descrição",
        'placeholder -> "Criação do aplicativo de emissão de NF-e...",
        'rows -> 3
    )

    @b3.select(
          formulario("cliente.id"),
          options(Cliente.options),
          '_label -> "Cliente", '_default -> "Selecione o cliente...",
          '_showConstraints -> false
    )

    <br>

    @b3.submit('class -> "btn btn-primary") { Cadastrar }

</Form>
